.dial {
  width: 100%;
  height: 100%;
  position: relative;
}

.knob {
  fill: #00ff00;
  position: absolute;
  transform-origin: center;
}

.svgBorderCurrent {
  stroke: #00ebc1;
  stroke-width: 3;
}

.svgBorderDesired {
  stroke: #ed533b;
  stroke-width: 3;
}

.overlay {
  stroke: #333;
  stroke-width: 3;
  stroke-dasharray: .7%;
  stroke-linecap: butt;
}