.temperatureBig {
  display: block;
  text-decoration: none;
  position: relative;
  color: #ffffff;
  padding-top: 1em;
}

.roomName {
  font-size: 1.75em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.thermometer {
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 3em;
  height: 3em;
  fill: #17ab91;
}

.number,
.degree {
  font-size: 7em;
}

.number {
  color: #ffffff;
}

.degree {
  color: #17ab91;
  letter-spacing: -0.15em
}

.currentTemperature {
  text-align: center;
  margin-top: 2.5em;
}

.desired {
  position: absolute;
  left: 10%;
  top: 1em;
}

.desiredText {
  font-size: .8em;
  color: #17ab91;
}

.desiredNumber,
.desiredDegree {
  font-size: 1.5em;
  color: #17ab91;
  margin-top: -.5em;
  display: inline-block;
}

.timer {
  position: absolute;
  right: 2em;
  top: 2em;
}

.timerTextTime,
.timerTextDesired {
  color: #17ab91;
}

.timerTextDesired {
  margin-left: 2em;
}

.timerTextNumber {
  color: #fff;
}

.timerTextDegrees {
  letter-spacing: -0.15em
}