.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3em;
  z-index: 10;
}

.timeWrapper {
  flex: 5;
  background: #333333;
  color: #ffffff;
  padding: 0 .75em;
  line-height: 3em;
}

.time {

}

.date {
  color: #d8d8d8;
  text-transform: uppercase;
  margin-left: 1em;
}

.notificationWrapper {
  flex: 7;
  background: #474e4d;
  color: #ffffff;
  padding: 0 .75em;
  line-height: 3em;
}
